# Discord bot token
DISCORD__TOKEN=your_token_here

# General database information - the bot will use this to create a connection string to any MySQL instance
DB__HOST=localhost
DB__PORT=3306
DB__DATABASE=dbname
DB__USER=username
DB__PASSWORD=userpass

# Virtue module
# Baseline role is assigned when no tier range matches.
VIRTUE__BASELINEROLEID=123456789012345678

# Role tiers (up to 6 loaded, expected 6)
VIRTUE__ROLETIERS__0__ROLEID=223456789012345678
VIRTUE__ROLETIERS__0__MINVIRTUE=-999
VIRTUE__ROLETIERS__0__MAXVIRTUE=-51
VIRTUE__ROLETIERS__1__ROLEID=323456789012345678
VIRTUE__ROLETIERS__1__MINVIRTUE=-50
VIRTUE__ROLETIERS__1__MAXVIRTUE=-21
VIRTUE__ROLETIERS__2__ROLEID=423456789012345678
VIRTUE__ROLETIERS__2__MINVIRTUE=-20
VIRTUE__ROLETIERS__2__MAXVIRTUE=-1
VIRTUE__ROLETIERS__3__ROLEID=523456789012345678
VIRTUE__ROLETIERS__3__MINVIRTUE=1
VIRTUE__ROLETIERS__3__MAXVIRTUE=20
VIRTUE__ROLETIERS__4__ROLEID=623456789012345678
VIRTUE__ROLETIERS__4__MINVIRTUE=21
VIRTUE__ROLETIERS__4__MAXVIRTUE=50
VIRTUE__ROLETIERS__5__ROLEID=723456789012345678
VIRTUE__ROLETIERS__5__MINVIRTUE=51
VIRTUE__ROLETIERS__5__MAXVIRTUE=999

# Add emoji mappings in Discord with:
# /virtue-mod add-emoji emoji:<emoji> virtue:<-5..5>
